<div class="service-card">
  <div class="card-header">
    <div class="card-icon">
     <i class="fas fa-{{@icon}}"></i>
    </div>
    <h3 class="card-title">{{@title}}</h3>
  </div>
  
  <div class="card-body">
    <p class="card-description">{{@description}}</p>
    
    <div class="card-features">
      <h4 class="features-heading">Key Features:</h4>
      <ul class="features-list">
        {{#each @features as |feature|}}
          <li class="feature-item">
           <i class="fas fa-check-circle feature-icon"></i>
            {{feature}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="card-footer">
    <LinkTo @route={{@ctaLink}} class="card-cta">
      {{@ctaText}}
      <i class="fas fa-arrow-right cta-icon"></i>
    </LinkTo>
  </div>
</div>